.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container button {
  margin-bottom: 12px;
}

.label {
  color: #636363;
}

.textFieldContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.error {
  color: red;
}
