{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    ["@babel/preset-typescript", { "isTSX": true, "allExtensions": true }]
  ],
  "plugins": ["transform-class-properties", "@babel/plugin-proposal-object-rest-spread"]
}
